body{
	background-color: #48b9a6;
}

#header-nav {
  background-color: #124c50;
  border-radius: 0;
  border-bottom: 1px solid black;
}

.navbar-brand h1{
 color: #d8dfe8;
 margin-top: -10px;
 margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus, .navbar-header #collapsable-nav a:hover, .navbar-header #collapsable-nav a:focus {
text-decoration: none;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#collapsable-nav a, #collapsable-nav li{
	list-style-type: none;
	text-decoration: none;
	color: #d8dfe8;
}

#nav-list a{
	color:#d8dfe8;
	text-align: center;
}

.concerts{
	text-align: right;
}

.news{
	text-align: right;
}

.artists{
	text-align: right;
}

.text-center{
	height: 45%;
	width: 45%;
	margin: 15px auto;
	padding: 10px;
}

h4{
	font-weight: bold;
	color:#d8dfe8;
}
.artist{
	border-style: solid;
    border-width: 2px;
    height: 1000px
    width: auto;
    background-color: #80aaff;
    text-align: center;
    margin: 15px auto;
    padding: 10px;
}

.artist img{
	height: 35%;
	width: 35%;
}